body{
    width: 100vw;
    background-color: var(--bs-info) !important;
    display: flex;
    align-items: center !important;
    height: 100vh;
}
.hidden{
    display: none;
}
.show{
    display: flex;
}
.main{
    padding: 10px;
    margin: 20px auto;
    /* height: 70vh; */
    border-radius: 20px;
    display:flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px grey;
    background: #2684ff;
    /* padding: 10px;
    width: 40vw;
    height: 50vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px gray;
    position: absolute;
    top: 25vh;
    left: 30vw;
    background-color: skyblue; */
}
.main h1,.main a{
    margin: 20px;
}
.quiz{
    padding: 10px;
    margin: 20px auto;
    /* height: 70vh; */
    display:flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px grey;
    background: #2684ff;
    /* background: #9f3dffad; */
}
.resultBox{
    padding: 10px;
    margin: 20px auto;
    /* height: 70vh; */
    display:flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px grey;
    background: #2684ff;
    /* background: #9f3dffad; */
    font-size: 26px;
}
.header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 1px solid #4a4b4c;
    flex-direction: row;
    justify-content: space-between;
}
.header .timer{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #ffffffc7;
    padding: 5px 15px;
    border-radius: 20%;
}
.header h1 {
    margin-left: 5px;
}
.footer{
    border-top: 1px solid #4a4b4c;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
    font-weight: 600;
}

.option{
    width: 98%;
    border: 1px solid var(--bs-dark);
    border-radius: 40px;
    padding:  2px 5px;
    margin: 5px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.alert{
    display: none;
}
.input{
    padding: 5px;
    margin: 5px;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.content {
    width: 98%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}
.questionNo {
    margin-left: 10px;
}
button#nextBtn {
    border-radius: 25%;
    box-shadow: 0px 0px 4px black;
    font-size: large;
    font-weight: 600;
}
.option:hover {
    cursor: pointer;
    background: rgb(0 0 0 / 15%);
}
input{
    margin: 0px 5px !important;
}

.option label{
    width: 100%;
    cursor: pointer;
}
.content-div {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid black;
}

div#signup {
    /* border-top: 2px solid darkslategrey; */
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.input label {
    margin: 5px;
    font-weight: 500;
}
#signup .input {
    /* width: 45%; */
}
button.btn-primary.btn {
    display: block;
    margin: 0px auto;
}
div#heading {border-top: 1px solid black;width: 100%;margin-top: 20px;text-align: center;/* padding-top: 10px; */}

h2 {
    padding-top: 10px;
}
div#heading1 {
    display: block;
    width: 100%;
    text-align: center;
}